.main {
  --tint-border: #d6d6d6;
  --tint-color-text: #8c8c8c;
  --main-color: #5225ce;
  --main-color-trans: #5225d033;
  --font-color: #001b79;
}

.main-box.main-box {
  font-family: "GE SS Two";
  color: var(--font-color);
  border: 1px solid var(--tint-border);
  padding: 18px 0 12px 0;
  max-height: calc(100vh - 90px);
  overflow-y: scroll;
}
.suggestion-box.suggestion-box {
  border: 1px solid var(--tint-border);
  height: calc(100% - 25px);
  max-height: calc(100vh - 90px);
  overflow-y: scroll;
}
