.box-container.box-container {
  border: 1px solid var(--tint-border);
  color: var(--font-color);
}
.box-container.box-container.phase-2-3 {
  border: none;
}
.box-container.box-container p:not(:last-child),
.box-container.box-container li:not(:last-child) {
  border-bottom: 1px solid var(--tint-border);
}

.title.title {
  color: var(--main-color);
  font-size: calc(10px + 0.5vw);
  font-weight: 600;
  line-height: 24px;
  padding-top: calc(10px + 0.18vw);
  padding-bottom: calc(10px + 0.18vw);
}
.title.phase0 {
  background-color: var(--main-color-trans);
}
.description.description {
  font-size: 20px;
  font-size: calc(10px + 0.5vw);
  font-weight: 300;
}
.extra-description.extra-description {
  font-size: calc(5px + 0.5vw);
  font-weight: 300;
  color: var(--tint-color-text);
}

.list-item.list-item {
  list-style: none;
  padding: 0;
  font-size: calc(10px + 0.3vw);
  font-weight: 300;
}

.list-item-sub-titles.list-item-sub-titles {
  background-color: #5225ce12;
  border-radius: 5px;
  margin-top: 10px;
  list-style: initial;
  padding-right: 2rem;
  padding-top: 32px;
  padding-bottom: 32px;
  cursor: pointer;
  transition: outline, transform 0.3s ease-in-out;
}
.list-item-sub-titles.list-item-sub-titles.list-item-sub-titles li {
  color: var(--main-color);
  border: none;
  font-size: calc(2px + 0.8vw);
  font-weight: 300;
}
.list-item-sub-titles.list-item-sub-titles:hover {
  outline: solid 1.5px var(--main-color);
  transform: scale(1.01);
}
.list-item-sub-titles__selected.list-item-sub-titles__selected {
  outline: solid 1.5px var(--main-color);
  transform: scale(1.01);
}

.main-article.main-article {
  transition: all 4s ease-in-out;
}
